.about_container {
  padding: 5vw;
  width: 80vw;
  height: 85vh;
  background: linear-gradient(to bottom, rgba(224, 204, 255,0.4), rgba(0,0,0,0.6));
  color: #fff;
  font-size: 20px;
}

.about_block {
  padding-bottom: 5vh;
}

.about_block h2, .about_connects {
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}

@media only screen and (max-width: 650px) {
  .about_container {
    width: 100vw;
  }
}
